<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product-update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list text-center">
    <h1>Изменить товар</h1><br><br>
    <div>
        <form method="post" th:action="@{/product/update/}" th:object="${product}">
            <input th:field="*{id}" hidden/>
            <td><img th:src="@{'data:image/jpeg;base64,' + ${product.previewImage}}" width="300" height="200"></td>
            <br><br>
            <label for="product-title"><h2>Категория товара:</h2></label>
            <input id="product-title" th:type="text" th:field="*{productTitle}" required minlength="1" maxlength="255">
            <br>
            <label for="product-name"><h2>Название товара:</h2></label>
            <input id="product-name" th:type="text" th:field="*{productName}" required minlength="1"
                   maxlength="255"/><br>
            <label for="product-price"><h2>Стоимость товара:</h2></label>
            <input id="product-price" th:type="text" th:field="*{productPrice}" required minlength="1"
                   maxlength="255"/><br>
            <button class="btn btn-primary">Сохранить</button>
            <a th:href="@{/product/}" class="btn btn-dark">назад</a>
        </form>
    </div>
</div>
</body>
</html>