<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product-list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<a th:href="@{/}" th:if="${isAuth == 'USER' && isAuth !='anon'}" ><h1>Вернуться на главную</h1></a>
<div th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" class="wrapper_list text-center">
    <h1>Список товаров</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Товар</th>
                <th>Цена $</th>
                <th th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" >Меню навигации</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product: ${products}">
                <tr>
                    <td><h1>[[${product.id}]]</h1></td>
                    <td>
                        <a th:href="@{'/product/detail/' + ${product.id}}">
                            <img th:src="@{'data:image/jpeg;base64,' + ${product.previewImage}}" width="300"
                                 height="200">
                        </a>
                    </td>
                    <td>
                        <h1>[[${product.productPrice}]]$</h1>
                    </td>
                    <td th:if="${isAuth == 'ADMIN' && isAuth !='anon'}">
                        <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{'/product/delete/' + ${product.id}}" class="btn btn-danger">Удалить</a>
                        <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{'/product/update/' + ${product.id}}" class="btn btn-warning">Изменить</a>
                    </td>
                </tr>
            </th:block>
        </table>
        <br><br>
        <div>
            <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{/product/add/}" class="btn btn-primary"><h1>Добавить новый товар</h1></a><br><br>
            <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{/client/}" class="btn btn-success">Список клиентов</a><br><br>
            <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{/order/}" class="btn btn-warning">Заказ</a><br><br>
            <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{/orderProduct/}" class="btn btn-danger">Заказ товаров</a>
        </div>
        <br><br>
        <h1><a th:href="@{/}">Вернутся на главную</a></h1>
        [[${goodMsg}]]
    </div>
</div>
</body>
</html>