<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderProduct-list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<a th:href="@{/}" th:if="${isAuth == 'USER' && isAuth !='anon'}" ><h1>Вернуться на главную</h1></a>
<div th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" class="wrapper_list text-center">
    <h1>Заказы товаров</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Количество товаров</th>
                <th>Клиент</th>
                <th>Название товара</th>
                <th>Товар</th>
                <th>Цена $</th>
                <th>Артикул</th>
                <th th:if="${isAuth == 'ADMIN' && isAuth !='anon'}">Редактировать</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="orderProduct :${orderProducts}">
                <tr>
                    <td><h1>[[${orderProduct.quantityProduct}]]</h1></td>
                    <td><h1>[[${orderProduct.order.client.clientName}]]</h1></td>
                    <td><h1>[[${orderProduct.product.productName}]]</h1></td>
                    <td>
                        <a th:href="@{'/orderProduct/detail/' + ${orderProduct.id}}">
                            <img th:src="@{'data:image/jpeg;base64,' + ${orderProduct.product.previewImage}}" width="300" height="200">
                        </a>
                    </td>
                    <td><h1>[[${orderProduct.product.productPrice}]]</h1></td>
                    <td><h1>[[${orderProduct.product.productArticle}]]</h1></td>
                    <td th:if="${isAuth == 'ADMIN' && isAuth !='anon'}">
                        <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{'/orderProduct/delete/' + ${orderProduct.id}}" class="btn btn-danger">Удалить</a>
                        <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{'/orderProduct/update/' + ${orderProduct.id}}" class="btn btn-warning">Изменить</a>


                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <br><br>
        <div>
            <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{/client/ }" class="btn btn-success">Список покупателей</a><br><br>
            <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{/product/}" class="btn btn-primary">Список товаров</a><br><br>
            <a th:if="${isAuth == 'ADMIN' && isAuth !='anon'}" th:href="@{/order/}" class="btn btn-warning">Заказ</a><br><br>
        </div>
        <h1><a th:href="@{/}">Вернуться на главную</a></h1>
        [[${goodMsg}]]
    </div>
</div>
</body>
</html>