<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>basket</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list text-center">
    <h1>Корзина товаров</h1><br><br>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Количество товаров</th>
                <th>Название товара</th>
                <th>Товар</th>
                <th>Цена $</th>
                <th>Артикул</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="orderProduct :${order.orderProductSet}" >
                <tr>
                    <td>
                        <h1>[[${orderProduct.quantityProduct}]]</h1>
                        <a th:href="@{'/orderProduct/update/' + ${orderProduct.id}}"
                           class="btn btn-primary"><h2>Кол-во</h2></a>
                    </td>
                    <td><h1>[[${orderProduct.product.productName}]]</h1></td>
                    <td>
                        <a th:href="@{'/orderProduct/detail/' + ${orderProduct.id}}">
                            <img th:src="@{'data:image/jpeg;base64,' + ${orderProduct.product.previewImage}}"
                                 width="300" height="200">
                        </a>
                    </td>
                    <td><h1>[[${orderProduct.product.productPrice}]]$</h1></td>
                    <td><h1>[[${orderProduct.product.productArticle}]]</h1></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <h1 class="price">Итого  :  [[${order.finalPrice()}]] $ </h1>
        <form class="pay" method="get" action="/isPaid">
            <input type="text" th:value="${order.id}" name="orderId" hidden="hidden">
            <button class="btn btn-danger"><h1>Оплатить </h1></button>
        </form>
        <br>
        <h3 class="city1">Город получения : </h3>
        <div class="city">
            <a th:href="@{'/order/update/' + ${order.id}}"><h1>[[${order.description}]]</h1></a>
        </div><br>
        <h1><a th:href="@{/}">Вернуться на главную</a></h1>
        [[${goodMsg}]]
    </div>
</div>
</body>
</html>
