<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>catalog</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list">
    <div class="collapsible-menu">
        <input type="checkbox" id="menu">
        <label for="menu">Товары</label>
        <div class="menu-content">
            <ul>
                <li><a href="/goods/bicycles"><h1 style="color: black">Велосипеды</h1></a></li>
                <li><a href="/goods/snowboards"><h1 style="color: black">Лыжи/Сноуборды</h1></a></li>
                <li><a href="/goods/simulators"><h1 style="color: black">Тренажеры</h1></a></li>
                <li><a href="/goods/tennis"><h1 style="color: black">Теннис</h1></a></li>
                <li><a href="/goods/swimming"><h1 style="color: black">Плавание</h1></a></li>
                <li><a href="/goods/others"><h1 style="color: black">Разное</h1></a></li>
                <li><a href="/"><h1 style="color: blue">Вернуться на главную</h1></a></li>
            </ul>
        </div>
    </div>
    [[${goodMsg}]]
</div>
</body>
</html>