<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_index">
    <div class="collapsible-menu">
        <h1 class="text-center">Добро пожаловать [[${isAuth}]]!</h1>
        <input type="checkbox" id="menu">
        <label for="menu">Меню</label>
        <div class="menu-content">
            <ul>
                <li><a th:href="@{/client/}"><h1 style="color: blue" th:if="${isAuth == 'ADMIN'}">Страница админа</h1></a></li>
                <li><a  th:href="@{/catalog}" th:if="${isAuth == 'USER' &&  isAuth != 'anon'}"><h1 style="color: blue">Каталог</h1></a></li>
                <li><a  th:href="@{/basket}" th:if="${isAuth == 'USER' &&  isAuth != 'anon'}"><h1 style="color: blue">Карзина товаров</h1></a></li>
                <li><a th:href="@{/login}" th:if="${isAuth == 'anon'}"><h1 style="color: black">Логин/Регистрация</h1></a></li>
                <li><a th:href="@{/logout}" th:if="${isAuth != 'anon'}"><h1 style="color: black">Выйти из аккаунта</h1></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>