<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_index text-center">
    <h1>Добро пожаловать!</h1><br><br>
    <div>
        <h1>
            <a th:if="${isAuth.contains('ADMIN')}" th:href="@{/auth/admin}" class="btn btn-success">Страница адимна</a>
            <a th:if="${isAuth.contains('USER')}" th:href="@{/client}" class="btn btn-warning">Страница покупателя</a>
            <a th:href="@{/catalog}" class="btn btn-warning">Каталог</a>
            <a th:if="${isAuth == 'anon'}" th:href="@{/login}" class="btn btn-primary">Логин/Регистрация</a>
            <a th:if="${isAuth != null && isAuth != 'anon'}" th:href="@{/logout}" class="btn btn-outline-dark">Выйти из аккаунта</a>
        </h1>
    </div>
</div>
</body>
</html>