<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>isPaid</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list text-center">
    <br><br><br><br><br><br><br><br><br>
    <h1>Вы успешно оплатили заказ!</h1>
    <br><br><br><br><br><br><br><br><br>
    <h1><a th:href="@{/}">Вернуться на главную</a></h1>
</div>
</body>
</html>